[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
black = "*"
langchain-community = "*"
langchain-openai = "*"
langchainhub = "*"
langchain-experimental = "*"
qrcode = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
